$accent-primery-color: #D41443;
$accent-light-color: #FFFFFF;
$accent-secondary-color: #FFA5BA;
$primary-text-color:  #907E82;
$secondary-text-color: #000000;
$fon-color: #E5E5E5;
$bg-pink-color: #FFB8CA;
$bg-brown-color: #F0D1A5;
$bg-green-color: #C2E297;
$bg-gray-color: #E1E1E1;
$function-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);