<section id="advantages" class="section advantages-section">
    <div class="container">
    <h2 class="section__title--invisible">Our advantage</h2>
    <ul class="advantages">
        <li class="advantages__item"><span class="advantages__label">721</span>Aliquam ac dui vel dui vulputate consectetur.
            Mauris massa.</li>
        <li class="advantages__item"><span class="advantages__label">16kg</span>Aliquam ac dui vel dui vulputate
            consectetur. Mauris massa.</li>
        <li class="advantages__item"><span class="advantages__label">84</span>Aliquam ac dui vel dui vulputate consectetur.
            Mauris massa.</li>
    </ul>
    </div>
</section>