<section class="reviews section">
    <div class="container">
        <h2 class="section__title--invisible">Reviews</h2>
        <img class="reviews__img"
              srcset="
              ./images/customer-reviews/reviews1@1x.jpg 1x,
              ./images/customer-reviews/reviews1@2x.jpg 2x" 
              src="./images/customer-reviews/reviews1.jpg" 
              alt="фото клиента" 
        />

        <div class="reviews__comment">
            <div class="reviews__grid"></div>
            <p class="reviews__paragraph">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <h3 class="reviews__title">Emily, Los Angeles</h3>
        <div class="reviews__navigation">
            <svg class="reviews__home" width="12" height="12">
                <use href="./images/icons.svg#icon-home"></use>
            </svg>
            <div class="reviews__icon"></div>
            <div class="reviews__icon"></div>
        </div>
    </div>
</section>