<footer class="footer">
  <section class="section">
    <div class="container">
      <ul class="foooter__text">
        <li class="foooter__text--pink">HOMEMADE ICE CREAM <br />MADE</li>
        <li class="foooter__text--red">WITH <br />PASSION</li>
      </ul>
      <div class="footer__container--flex">
        <ul class="footer__list">
          <li class="footer__item"><a class="footer__link" href=""><svg class="footer__icons--github" width="40" height="40"><use href="./images/icons.svg#icon-github"></use></svg></a></li>
          <li class="footer__item"><a class="footer__link" href=""><svg class="footer__icons--telegram" width="40" height="40"><use href="./images/icons.svg#icon-telegram"></use></svg></a></li>
          <li class="footer__item"><a class="footer__link" href=""><svg class="footer__icons--facebook" width="40" height="40"><use href="./images/icons.svg#icon-facebook"></use></svg></a></li>
        </ul>
      </div>
      <div class="footer__socials">
          <ul>
              <li class="footer__item--end"><span class="footer__text--black">Feel free to contact</span><span class="footer__text--number"> +61 (0) 383 766 284</span></li>  
          </ul>
      </div>

    </div>
  </section>
</footer>
