<section class="section section--gallery">
    <div class="container">
      <h2 class="section__title--invisible"> gallery</h2>
       <!-- В этот список добавляй элементы галереи -->
       <div class="container__box">
 <ul class="gallery js-gallery">
 <li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/gallery/brooke-lark@2x.jpg" 
  >
    <img
      class="gallery__image"
      src="./images/gallery/gallery-brooke-lark@1x.jpg"
      srcset="./images/gallery/gallery-brooke-lark@2x.jpg  2x"
      data-source="https://romankhrapai.github.io/gallery/images/brooke-lark@1x.jpg"
      data-source-2x="https://romankhrapai.github.io/gallery/images/brooke-lark@2x.jpg 2x"
      alt="lots of ice cream"
    />
   
  </a>
</li>
<li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/gallery/christian-bowen@2x.jpg"
  >
    <img
      class="gallery__image"
      src="./images/gallery/gallery-christian-bowen@1x.jpg"
      srcset="./images/gallery/gallery-christian-bowen@2x.jpg  2x"
      data-source="https://romankhrapai.github.io/gallery/images/christian-bowen@1x.jpg"
      data-source-2x="https://romankhrapai.github.io/gallery/images/christian-bowen@2x.jpg 2x"
      alt="dog eats ice cream"
    />
  </a>
</li>
<li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/gallery/food-photographerstylist@2x.jpg"
  >
    <img
      class="gallery__image"
      src="./images/gallery/gallery-food-photographerstylist@1x.jpg"
      srcset="./images/gallery/gallery-food-photographerstylist@2x.jpg  2x"
      data-source="https://romankhrapai.github.io/gallery/images/food-photographerstylist-@1x.jpg"
      data-source-2x="https://romankhrapai.github.io/gallery/images/food-photographerstylist@2x.jpg 2x"
      alt="dessert decoration"
    />
  </a>
  </li>
  <li class="gallery__item">
    <a
      class="gallery__link"
      href= ".\images\gallery\dana-devolk@2x.jpg"
    >
      <img
        class="gallery__image"
        src= ".\images\gallery\gallery-dana-devolk@1x.jpg"
        srcset="./images/gallery/gallery-dana-devolk@2x.jpg  2x"
        data-source= "https://romankhrapai.github.io/gallery/images/dana-devolk@1x.jpg"
        data-source-2x= "https://romankhrapai.github.io/gallery/images/dana-devolk@2x.jpg 2x"
        alt="green ice cream in a bowl"
      />
    </a>
	</li>
  <li class="gallery__item">
    <a
      class="gallery__link"
      href= "./images/gallery/home-pic@2x.jpg"
    >
      <img
        class="gallery__image"
        src= ".\images\gallery\gallery-home-pic@1x.jpg"
        srcset="./images/gallery/gallery-home-pic@2x.jpg  2x"
        data-source= "https://romankhrapai.github.io/gallery/images/home-pic@1x.jpg"
        data-source-2x= "https://romankhrapai.github.io/gallery/images/home-pic@2x.jpg 2x"
        alt="pink ice cream in hand"
      />
    </a>
  </li>
    <li class="gallery__item">
      <a
        class="gallery__link"
        href= ".\images\gallery\ian-dooley@2x.jpg"
      >
        <img
          class="gallery__image"
          src= ".\images\gallery\gallery-ian-dooley@1x.jpg"
          srcset="./images/gallery/gallery-ian-dooley@2x.jpg  2x"
          data-source= "https://romankhrapai.github.io/gallery/images/ian-dooley@1x.jpg"
          data-source-2x= "https://romankhrapai.github.io/gallery/images/ian-dooley@2x.jpg 2x"
          alt="pink ice cream in hand"
        />
      </a>
  </li>
      <li class="gallery__item">
        <a
          class="gallery__link"
          href= ".\images\gallery\ledy@2x.jpg"
        >
          <img
            class="gallery__image"
            src= ".\images\gallery\gallery-ledy@1x.jpg"
            srcset="./images/gallery/gallery-ledy@2x.jpg  2x"
            data-source= "https://romankhrapai.github.io/gallery/images/ledy@1x.jpg"
            data-source-2x= "https://romankhrapai.github.io/gallery/images/ledy@2x.jpg 2x"
            alt="girl with ice cream"
          />
        </a>
    </li>
        <li class="gallery__item">
          <a
            class="gallery__link"
            href= ".\images\gallery\peakpx@2x.jpg"
          >
            <img
              class="gallery__image"
              src= ".\images\gallery\gallery-peakpx@1x.jpg"
              srcset="./images/gallery/gallery-peakpx@2x.jpg  2x"
              data-source= "https://romankhrapai.github.io/gallery/images/peakpx@1x.jpg"
              data-source-2x= "https://romankhrapai.github.io/gallery/images/peakpx@2x.jpg 2x"
              alt="raspberry ice cream on a stick"
            />
          </a>
    </li>
          <li class="gallery__item">
            <a
              class="gallery__link"
              href= ".\images\gallery\pratiksha-mohanty@2x.jpg"
            >
              <img
                class="gallery__image"
                src= ".\images\gallery\gallery-pratiksha-mohanty@1x.jpg"
                srcset="./images/gallery/gallery-pratiksha-mohanty@2x.jpg  2x"
                data-source= "https://romankhrapai.github.io/gallery/images/pratiksha-mohanty@1x.jpg"
                data-source-2x= "https://romankhrapai.github.io/gallery/images/pratiksha-mohanty@2x.jpg 2x"
                alt="milk shake"
              />
            </a>
      </li>
            <li class="gallery__item">
              <a
                class="gallery__link"
                href= ".\images\gallery\Rim-s-detmi@2x.jpg"
              >
                <img
                  class="gallery__image"
                  src= ".\images\gallery\gallery-Rim-s-detmi@1x.jpg"
                  srcset="./images/gallery/gallery-Rim-s-detmi@2x.jpg  2x"
                  data-source= "https://romankhrapai.github.io/gallery/images/Rim-s-detmi@1x.jpg"
                  data-source-2x= "https://romankhrapai.github.io/gallery/images/Rim-s-detmi@2x.jpg 2x"
                  alt="red ice cream in hand"
                />
              </a>
</li>
</ul>
</div>

 <!--
   Модальное окно для полноразмерного изображения
   Для того чтобы открыть, необходимо добавить на div.lightbox CSS-класс is-open
 -->
 <div class="lightbox js-lightbox">
   <div class="lightbox__overlay"></div>

   <div class="lightbox__content ">
     <img class="lightbox__image"  src="#" srcset="#" alt="" />
   </div>
   
   <button
     type="button"
     class="lightbox__button"
     data-action="close-lightbox"
   >
   <svg class="lightbox__icon" height="18px" width="18px">
        <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
 </div>
    </div>
  </section>
