<section class="section section--gallery">
    <div class="container">
      <h2 class="section__title--invisible"> gallery</h2>
       <!-- В этот список добавляй элементы галереи -->
       <div class="container__box">
 <ul class="gallery js-gallery">
 <li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/gallery/brooke-lark-origin.jpg"
  >
    <img
      class="gallery__image"
      src="./images/gallery/gallery-3.jpg"
      data-source="./images/gallery/brooke-lark-origin.jpg"
      alt="lots of ice cream"
    />
  </a>
</li>
<li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/gallery/christian-bowen-origin.jpg"
  >
    <img
      class="gallery__image"
      src="./images/gallery/gallery-5.jpg"
      data-source="./images/gallery/christian-bowen-origin.jpg"
      alt="dog eats ice cream"
    />
  </a>
</li>
<li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/gallery/food-photographerstylist-origin.jpg"
  >
    <img
      class="gallery__image"
      src="./images/gallery/gallery-10.jpg"
      data-source="./images/gallery/food-photographerstylist-origin.jpg"
      alt="dessert decoration"
    />
  </a>
  </li>
  <li class="gallery__item">
    <a
      class="gallery__link"
      href= ".\images\gallery\dana-devolk-w1000.jpg"
    >
      <img
        class="gallery__image"
        src= ".\images\gallery\gallery-4.jpg"
        data-source= ".\images\gallery\dana-devolk-w1000.jpg"
        alt="green ice cream in a bowl"
      />
    </a>
	</li>
  <li class="gallery__item">
    <a
      class="gallery__link"
      href= ".\images\gallery\home-w283.jpg"
    >
      <img
        class="gallery__image"
        src= ".\images\gallery\gallery-1.jpg"
        data-source= ".\images\gallery\home-w283.jpg"
        alt="pink ice cream in hand"
      />
    </a>
  </li>
    <li class="gallery__item">
      <a
        class="gallery__link"
        href= ".\images\gallery\ian-dooley-origin.jpg"
      >
        <img
          class="gallery__image"
          src= ".\images\gallery\gallery-2.jpg"
          data-source= ".\images\gallery\ian-dooley-origin.jpg"
          alt="pink ice cream in hand"
        />
      </a>
  </li>
      <li class="gallery__item">
        <a
          class="gallery__link"
          href= ".\images\gallery\ledy-origin.jpg"
        >
          <img
            class="gallery__image"
            src= ".\images\gallery\gallery-7.jpg"
            data-source= ".\images\gallery\ledy-origin.jpg"
            alt="girl with ice cream"
          />
        </a>
    </li>
        <li class="gallery__item">
          <a
            class="gallery__link"
            href= ".\images\gallery\peakpx-origin.jpg"
          >
            <img
              class="gallery__image"
              src= ".\images\gallery\gallery-6.jpg"
              data-source= ".\images\gallery\peakpx-origin.jpg"
              alt="raspberry ice cream on a stick"
            />
          </a>
    </li>
          <li class="gallery__item">
            <a
              class="gallery__link"
              href= ".\images\gallery\pratiksha-mohanty-origin.jpg"
            >
              <img
                class="gallery__image"
                src= ".\images\gallery\gallery-9.jpg"
                data-source= ".\images\gallery\pratiksha-mohanty-origin.jpg"
                alt="milk shake"
              />
            </a>
      </li>
            <li class="gallery__item">
              <a
                class="gallery__link"
                href= ".\images\gallery\Rim-s-detmi-origin.jpg"
              >
                <img
                  class="gallery__image"
                  src= ".\images\gallery\gallery-8.jpg"
                  data-source= ".\images\gallery\Rim-s-detmi-origin.jpg"
                  alt="red ice cream in hand"
                />
              </a>
</li>
</ul>
</div>

 <!--
   Модальное окно для полноразмерного изображения
   Для того чтобы открыть, необходимо добавить на div.lightbox CSS-класс is-open
 -->
 <div class="lightbox js-lightbox">
   <div class="lightbox__overlay"></div>

   <div class="lightbox__content ">
     <img class="lightbox__image" src="#" alt="" />
   </div>
   
   <button
     type="button"
     class="lightbox__button"
     data-action="close-lightbox"
   >
   <svg class="lightbox__icon" height="18px" width="18px">
        <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
 </div>
    </div>
  </section>