<section class="section section__color--change">
    <div class="container container--gallery">
       <!-- В этот список добавляй элементы галереи -->
 <ul class="gallery js-gallery">
 <li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/modal/product-3.png"
  >
    <img
      class="gallery__image"
      src="./images/modal/product-3.png"
      data-source="./images/modal/product-3.png"
      alt="Tulips"
    />
  </a>
</li>

   <li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/modal/product-1.png"
  >
    <img
      class="gallery__image"
      src="./images/modal/product-1.png"
      data-source="./images/modal/product-1.png"
      alt="Tulips"
    />
  </a>
</li>

<li class="gallery__item">
  <a
    class="gallery__link"
    href="./images/modal/product-2.png"
  >
    <img
      class="gallery__image"
      src="./images/modal/product-2.png"
      data-source="https://drive.google.com/file/d/0B5PwsTdxc3NXZlR3OWVFZWNBUXM/view?usp=sharing&resourcekey=0-HpmOwB8TlBuSnfNj8YD0Iw"
      alt="Tulips"
    />
  </a>
</li></ul>

 <!--
   Модальное окно для полноразмерного изображения
   Для того чтобы открыть, необходимо добавить на div.lightbox CSS-класс is-open
 -->
 <div class="lightbox js-lightbox">
   <div class="lightbox__overlay"></div>

   <div class="lightbox__content ">
     <img class="lightbox__image" src="" alt="" />
   </div>

   <button
     type="button"
     class="lightbox__button"
     data-action="close-lightbox"
   ></button>
 </div>
    </div>
  </section>