<header class="header" id="home">
    <div class="container container--header">
        <img class="logo-page" srcset="./images/hero-header/logo.png 1x,
             ./images/hero-header/logo-@2x.png 2x" src="./images/hero-header/logo.png" alt="логотип сайта">
        <svg class="icon-burger">
                <use href="./images/icons.svg#icon-burger"></use>
            </svg>
        <nav class="main-nav">
            <svg class="icon-close">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
            <button class="button button--light btn__menu" type="button">Buy now11 <svg class="btn__icon">
                    <use href="./images/icons.svg#icon-left"></use>
                </svg></button>

            <ul class="nav">
                <li class="nav__item"><a class="nav__link" href="#home">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#advantages">About us</a></li>
                <li class="nav__item"><a class="nav__link" href="#about">How it’s made?</a></li>
                <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
                <li class="nav__item"><a class="nav__link" href="#contact">Contact</a></li>
            </ul>
        </nav>
        <button class="button button--light button-order-header" type="button" data-modal-open-buy-now>Buy now <svg class="btn__icon">
                <use href="./images/icons.svg#icon-left"></use>
            </svg></button>
    </div>
</header>