<section class="hero">
    <div class="container container--hero">
        <div class="hero__title-wrapper">
            <h1 class="hero__title">ice cream <br> made with<br> <span class=" hero__title hero__title--accent">passion</span></h1>
            <a class="hero__button hero__button--accent" href="#products">Products </a>
            <a class="hero__button hero__button--light" href="#about">How it’s made? </a>
        </div>
        <div class="hero__milk-wrapper">
            <img class="hero__milk" srcset="
                ./images/hero-header/hero-milk-w124.png 124w, 
                ./images/hero-header/hero-milk-w124-@2x.png 248w, 
                ./images/hero-header/hero-milk-w188.png 188w, 
                ./images/hero-header/hero-milk-w188-@2x.png 376w" src="./images/hero-header/hero-milk-w124.png" alt="jug of milk" sizes="(min-width:768px) and (max-width:1279px) 124px, 
                    (min-width:1280px) 188px ">
            <p class="hero__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                <br>
                <button class="hero__read-more" type="button"><svg class="btn__icon">
                    <use href="./images/icons.svg#icon-left"></use>
                </svg></button>
            </p>

        </div>
        <div class="hero__decoration-bg">

            <img class="hero__ice-cream" srcset="
                    ./images/hero-header/hero-ice-cream-w171.png 171w, 
                    ./images/hero-header/hero-ice-cream-w171-@2x.png 342w, 
                    ./images/hero-header/hero-ice-cream-w143.png 143w, 
                    ./images/hero-header/hero-ice-cream-w143-@2x.png 286w,
                    ./images/hero-header/hero-ice-cream-w236.png 236w, 
                    ./images/hero-header/hero-ice-cream-w236-@2x.png 472w " src="./images/hero-header/hero-ice-cream-w171.png" alt="ice-cream" sizes="(max-width:768px) 171px, (min-width:768px) and (max-width:1279px) 143px, 
                        (min-width:1280px) 236px ">
            <img class="hero__girl" srcset="
                ./images/hero-header/hero-girl-w168.png 168w, 
                ./images/hero-header/hero-girl-w168-@2x.png 336w, 
                ./images/hero-header/hero-girl-w293.png 293w, 
                ./images/hero-header/hero-girl-w293-@2x.png 586w" src="./images/hero-header/hero-girl-w168.png" alt="girl with ice-cream" sizes="(min-width:768px) and (max-width:1279px) 168px, 
                    (min-width:1280px) 293px ">



        </div>

        <div class="calc-cards">
            <div class="calc-card">
                <p class="calc-card__number">16</p> <span class="calc-card__text">cafes</span>
            </div>
            <div class="calc-card">
                <p class="calc-card__number">23</p> <span class="calc-card__text">food trucks</span>
            </div>
        </div>
    </div>
</section>