<div class="backdrop is-hidden">
    <div class="modal-contacts">
        <button class="modal-contacts__button-close"><svg class="modal-contacts__icon-close">
                <use href="./images/icons.svg#icon-close"></use>
            </svg></button>
        <h2 class="modal-contacts__title">Franchise</h2>
        <p class="franchise-text franchise-text--dark">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
        <p class="franchise-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p>
<p class="franchise-text">Aliquam erat volutpat. Aenean accumsan.</p>
<p class="franchise-text franchise-text--dark">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
    Maecenas eleifend erat at justo fringilla.</p>
<p class="franchise-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p>
<p class="franchise-text">Aliquam erat volutpat. Aenean accumsan.</p>
<p class="franchise-text franchise-text--dark">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
    Maecenas eleifend erat at justo fringilla.</p>
<p class="franchise-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p>
<p class="franchise-text">Aliquam erat volutpat. Aenean accumsan.</p>

<ul>
    <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
    <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    
</ul>

    </div>
</div>