<div class="backdrop is-hidden" data-modal-loc>
    <div class="modal-contact">
        <h2 class="modal__title">Our Locations</h2>
        <ul>
            <li class="item__loc"><button class="button button--accent button--contacts">
                    <a data-fancybox=""
                        href="https://www.google.lv/maps/place/1960+N+Western+Ave,+Chicago,+IL+60647,+Сполучені+Штати+Америки/@41.9173705,-87.6898379,17z/data=!3m1!4b1!4m5!3m4!1s0x880fd2978b348473:0x2c4cd782e5ebc218!8m2!3d41.9173705!4d-87.6876492">
                        Chicago</a>
                </button></li>
            <li class="item__loc"><button class="button button--accent button--contacts">
                    <a data-fancybox=""
                        href="https://www.google.lv/maps/place/Googleplex/@37.4220041,-122.0833494,17z/data=!4m5!3m4!1s0x0:0x6c296c66619367e0!8m2!3d37.4219998!4d-122.0840572">
                        Los Angeles</a>
                </button></li>
            <li class="item__loc"><button class="button button--accent button--contacts">
                    <a data-fancybox=""
                        href="https://www.google.lv/maps/place/Googleplex/@37.4220041,-122.0833494,17z/data=!4m5!3m4!1s0x0:0x6c296c66619367e0!8m2!3d37.4219998!4d-122.0840572">
                        New York</a>
                </button></li>
        </ul>
        <button class="modal-contacts__button-close" data-modal-close-loc type="button">Close>

        </button>
    </div>
</div>
