
    <div class="backdrop is-hidden" data-modal-about>
        <div class="about-modal">
            <button class="about-modal__close-button" data-about-close>
                <svg class="about-modal__close-icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>

            <div class="about">
                <picture class="about__image">
                    <source media="(min-width: 1280px)" srcset="images/about/about_cow_desktop@1x.png 1x, images/about/about_cow_desktop@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="images/about/about_cow_tab@1x.png 1x, images/about/about_cow_tab@2x.png 2x">
                    <source media="(max-width: 767px)" srcset="images/about/about_cow_mob@1x.png 1x, images/about/about_cow_mob@2x.png 2x">
                    <img src="images/about/about_cow_mob@1x.png" alt="Cow and milk">
                </picture>
                <div class="about__box">
                    <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                    <p class="about__description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.<br>
                    Aliquam erat volutpat. Aenean accumsan. </p>
                    <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ab iure esse odio modi ratione animi doloremque, rerum quidem corporis sint explicabo dolores possimus ex ipsum, temporibus perspiciatis omnis vero.</p>
                    <p class="about__description">Incidunt temporibus non vero blanditiis dolorum debitis magni delectus eum quo odit iste laborum, iure inventore! Perspiciatis dignissimos ducimus commodi ullam eaque provident nesciunt beatae, delectus, maiores repudiandae molestiae ipsum.</p>
                </div>
            </div>
        </div>
    </div>