<div class=“backdrop”>
    <div class=“modal”>
        <button class=“modal__button-close”><svg class=“modal__icon-close”><use href="./images/icons.svg#icon-close"></use></svg></button>
        <h2>Our Location</h2>
        <div class=“map”></div>
        <span>CAFE</span>
        <p>Chicago</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p>New York</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <span>FOODTRUCK</span>
        <p>Los Angeles</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
</div>