
    <div class="backdrop is-hidden" data-modal>
        <div class="buy-now">
            <button class="buy-now__close" data-buy-now-close>
                <svg class="buy-now__icon" height="18px" width="18px">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <h2 class="buy-now__title">Order delicious</h2>
            <form name="buy-now-form" class="buy-now__form">
                <label class="buy-now__text" for="use-name">
                   Name </label>
                    <div class="buy-now__blok">
                        <input type="text" class="buy-now__edit" id="use-name" name="use-name">
                         <svg class="buy-now__icons" height="24px" width="24px">
                            <use href="./images/icons.svg#icon-user"></use>
                         </svg>
                    </div>
            
                <label class="buy-now__text" for="bn-tel">
                     Phone number</label>
                <div class="buy-now__blok">
                    <input type="tel" class="buy-now__edit" name="tel" id="bn-tel">
                    <svg class="buy-now__icons" height="24px" width="24px">
                        <use href="./images/icons.svg#icon-phone"></use>
                    </svg>
                </div>
                <label class="buy-now__text" for="address">
                     Delivery address</label>
                <div class="buy-now__blok">
                    <input type="text" class="buy-now__edit" name="email" id="address">
                    <svg class="buy-now__icons" height="24px" width="24px">
                        <use href="./images/icons.svg#icon-compass"></use>
                    </svg>
                </div>

                <label class="buy-now__text" for="email">
                     Email</label>
                <div class="buy-now__blok buy-now__blok--margin ">
                    <input type="email" class="buy-now__edit" name="email" id="email">
                    <svg class="buy-now__icons" height="24px" width="24px">
                        <use href="./images/icons.svg#icon-envelop"></use>
                    </svg>
                </div>
                <span id="newsletter-head" class="buy-now__text  ">Select product</span>  
                <div class="product" role="group" aria-labelledby="newsletter-head">
                                  
                    <label class="product__point" >
                      <input type="checkbox" name="product" value="ice cream" class="check">
                        <svg class="product__check" height="60px" width="60px">
                            <use href="./images/icons.svg#icon-checkmark"></use>
                        </svg>
                        <span class="product__text"> ice cream</span>
                        
                    </label>
                    <label class="product__point">
                      <input type="checkbox" name="product" value="ice coffee" class="check">
                      <svg class="product__check" height="60px" width="60px">
                        <use href="./images/icons.svg#icon-checkmark"></use>
                    </svg>
                    <span class="product__text">ice coffee</span>
                      
                    </label>
                    <label class="product__point">
                      <input type="checkbox" name="product" value=" milkshakes" class="check">
                      <svg class="product__check" height="60px" width="60px">
                            <use href="./images/icons.svg#icon-checkmark"></use>
                        </svg>
                        <span class="product__text">milkshakes</span>
                       
                    </label>
                </div>

                <label class="buy-now__text">
                     Сomment
                    <textarea name="comment" class="buy-now__comment" cols="30" rows="10"
                        placeholder="Enter text"></textarea>
                </label>


                <div class="buy-now__control">

                    <label class="buy-now__check">
                        <input type="checkbox" name="treaty" class="check">
                        <span><svg class="buy-now__checked" height="20px" width="22px">
                            <use href="./images/icons.svg#icon-checkmark"></use>
                        </svg></span>
                      <span> I agree with the mailing and accept&nbsp;
                        <a href="" class="buy-now__link">terms of the contract</a>
                      </span>
                    </label>
                    <button type="submit" class="buy-now__submit">submit</button>
                </div>
            </form>
        </div>
    </div>
