<div class="backdrop is-hidden" data-modal-contacts>
    <div class="modal-contacts">
        <button class="modal-contacts__button-close" data-contacts-close><svg class="modal-contacts__icon-close"><use href="./images/icons.svg#icon-close"></use></svg></button>
        <h2 class="modal-contacts__title">Our Location</h2>
        <div class="location-box">
            <div id="map" class="map"></div>
            <div class="text-box">
                <span class="text-box__title">CAFE</span>
                <p class="text-box__name">Chicago</p>
                <p class="text-box__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="text-box__name">New York</p>
                <p class="text-box__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <span class="text-box__title text-box__title--green">FOODTRUCK</span>
                <p class="text-box__name">Los Angeles</p>
                <p class="text-box__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
        </div>
    </div>
</div>


       