<div class="backdrop is-hidden" data-modal-submit-franchise>
    <div class="modal-contacts-fran">
        <h2 class="modal-contacts-fran__title">Leave your contacts, we will call you back</h2>
        <form>
            <div class="form__field">
                <label for="name" class="form__label">Name</label>
                <input type="text" class="form__input" name="name" id="name">
                <svg class="form__icon" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-user"></use>
                </svg>
            </div>
            <div class="form__field">
                <label for="tel" class="form__label">Phone number</label>
                <input type="tel" class="form__input" name="tel" id="tel">
                <svg class="form__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-phone"></use>
                </svg>
            </div>
            <div class="form__field">
                <label for="mail" class="form__label">Email</label>
                <input type="email" class="form__input" name="mail" id="mail">
                <svg class="form__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-envelop"></use>
                </svg>
            </div>
            <div class="form__field form__field--coment">
                <label for="coment" class="form__label">Comments</label>
                <textarea class="coment-input" name="coment" id="coment" rows="5" placeholder="Enter text"></textarea>
            </div>
            <button type="submit" class="button button--accent button--accent--submit">Submit</button>
        </form>
        <button class="modal-franchise__button-close" data-submit-franchise-close type="button"><svg class="modal-franchise__icon-close">
            <use href="./images/icons.svg#icon-close"></use>
        </svg></button>
        
    </div>
</div>
