<!--Products--> 
<section class="products-section section">
    <div class="products-container container">
        <P class="products-container__lable">100% natural</P>
        <h1 class="products-container__title">PRODUCTS</h1>
        <ul>

        <div class="products-container__list">
            <li class="products-container__list-item">
                <h3 class="products-container__list-item-title">ICE CREAM</h3>
                <P class="products-container__list-item-text">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</P>
            </li></div>
            <div class="products-container__list">
            <li class="products-container__list-item">
                <h3 class="products-container__list-item-title">ICE COFFEE</h3>
                <P class="products-container__list-item-text">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</P>
            </li></div>
            <div class="products-container__list">
            <li class="products-container__list-item">
                <h3 class="products-container__list-item-title">MILKSHAKES</h3>
                <P class="products-container__list-item-text">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</P>
            </li></div>
        </ul>
    
    </div>
</section>