<!--Products--> 
<section class="products-section section">
    <div class="products-container container">
        <P class="products-container__lable section__text">100% natural</P>
        <h1 class="products-container__title section__title">PRODUCTS</h1>
        <ul class="products-container__card">

        <div class="products-container__list">
            <li class="products-container__list-item">
                <h3 class="products-container__list-item-title">ICE CREAM</h3>
                <P class="products-container__list-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</P>
                    <button type=button class="products-container__button" ><svg class="products-container__icon" width="8" height= "8">
                        <use href="./images/icons.svg#icon-right"></use></svg></button>
            </li></div>
            <div class="products-container__list">
            <li class="products-container__list-item">
                <h3 class="products-container__list-item-title">ICE COFFEE</h3>
                <P class="products-container__list-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et. dolore magna aliqua facilisis.</P>
                    <button type=button class="products-container__button" ><svg class="products-container__icon" width="8" height= "8">
                        <use href="./images/icons.svg#icon-right"></use></svg></button>
            </li></div>
            <div class="products-container__list">
            <li class="products-container__list-item">
                <h3 class="products-container__list-item-title">MILKSHAKES</h3>
                <P class="products-container__list-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</P>
                    <button type=button class="products-container__button" ><svg class="products-container__icon" width="8" height= "8">
                        <use href="./images/icons.svg#icon-right"></use></svg></button>
            </li></div>
        </ul>
    
    </div>
</section>