.section--background {
    background-color: $bg-lightpink-color;
    background-image: url('/images/about/about_milk_mob@1x.png');
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('/images/about/about_milk_mob@2x.png');
    }

    @media (min-width: 768px),
            (min-resolution: 192dpi)  and (min-width: 768px),
            (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: none;

        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: none;
        }
    }

    @media (min-width: 1280px),
            (min-resolution: 192dpi)  and (min-width: 1280px),
            (min-resolution: 2dppx) and (min-width: 1280px) {
        background-image: url('/images/about/about_milk_desktop@1x.png');
        background-position: 50% 120%;

        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url('/images/about/about_milk_desktop@2x.png');
        }
    }
}

.section--no-pb {
    padding-bottom: 0;
}

.section__title--mb {
    margin-bottom: 25px;
    
    @media (min-width: 768px) {
        margin-bottom: 50px;
    }
}

.about {
    
    @media (min-width: 768px) {
        display: flex;
        align-items: flex-start;
    }

    .about-modal & {
        height: 85vh;
        padding-bottom: 30px;
    
        @media (min-width: 768px) {
            height: auto;
            justify-content: space-around;
        }
    }
}

.about__image > img {
    display: block;

    @media (max-width: 767px) {
        margin: 0 auto 40px;
    }
}

.about__image--modal {

    @media (max-width: 767px) {
        margin: 0 auto;
        width: auto;
        max-height: 120px;
    }
}

.about__image > source {
    display: block;

    @media (max-width: 767px) {
        width: 280px;

        // .about-modal & {
        //     width: auto;
        //     max-height: 120px;
        // }
    }

    @media (min-width: 768px) {
        width: 340px;
        margin-right: 20px;

        .about-modal & {
            width: auto;
        }

    }

    @media (min-width: 1280px) {
        width: 516px;
        margin-right: 75px;
    }
}

.about__box {
    // display: inline-block;
    padding: 0 30px;

    .about-modal & {
        overflow: auto;
        height: calc(100% - 120px);
        padding: 0;
    }

    @media (min-width: 768px) {
        width: 100%;
        padding: 50px 0 0;

        .about-modal & {
            height: 77vh;
            padding: 0 20px 0;
        }
    }

    @media (min-width: 1280px) {
        width: 465px;

        .about-modal & {
            height: 80vh;
        }
    }
}

.about__text {
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $secondary-text-color;

    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 1.76;
    }

    @media (min-width: 1280px) {
        font-size: 16px;
        letter-spacing: 0.04em;
    }
}

.about__description {
    margin-bottom: 25px;

    @media (min-width: 768px) {
        margin-bottom: 60px;
        line-height: 1.76;
        letter-spacing: 0.04em;
    }

    @media (min-width: 1280px) {
        margin-bottom: 45px;
        font-size: 14px;
        line-height: 1.94;
    }

    .about-modal & {
        margin-bottom: 10px;
    }
}

.about__box .button--light {
    padding: 12px 35px;
    display: flex;
    align-items: center;
    // padding-left: 40px;
    // padding-right: 40px;
    transition: background-color $function-time;

    &:hover, &:focus {
        background-color: #ECEBEB;
        cursor: pointer;
    }
}

.icon--left {
    fill: transparent;
    margin-left: 15px;
    stroke: $accent-primary-color;
}