.advantages-section {
  padding-top: 39px;
  padding-bottom: 0;

  background-color: #fff5f6;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 66px;
  }
}

.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantages__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 38px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66em;
  color: $secondary-text-color;

  &::before {
    content: '';
    display: inline-block;

    height: 50px;
    margin-bottom: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1)::before {
    width: 33px;
    background-image: url(../images/advantages/advantages_icon-1@1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages_icon-1@2x.png);
    }
  }

  &:nth-child(2)::before {
    width: 50px;
    background-image: url(../images/advantages/advantages_icon-2@1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages_icon-2@2x.png);
    }
  }

  &:nth-child(3)::before {
    width: 44px;
    background-image: url(../images/advantages/advantages_icon-3@1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages_icon-3@2x.png);
    }
  }

  /* Tablet */
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px * 2) / 3);
    margin-right: 60px;
    font-size: 14px;
    line-height: 1.7em;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      margin-bottom: 36px;
    }
  }

  /* Desktop */
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 90px * 2) / 3);
    margin-right: 90px;
    font-size: 16px;
    line-height: 1.75em;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      margin-bottom: 40px;
    }
  }
}

.advantages__label {
  display: block;
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14em;
  letter-spacing: 0.04em;
  color: $accent-primary-color;
  margin-bottom: 18px;
  text-transform: uppercase;

  /* Tablet */
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 22px;
    text-transform: none;
  }

  /* Desktop */
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    margin-bottom: 24px;
  }
}
