.button {
  display: inline-block;
  border-radius: 22px;
  border: none;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3em;

  /* Tablet */
  @media screen and (min-width: 768px) {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.button--accent {
  background-color: $accent-primary-color;
  color: $accent-light-color;
  transition: background-color $function-time;

  &:hover {
    background-color: #d41342;
  }
}

.button--light {
  background-color: $accent-light-color;
  color: $accent-primary-color;
  transition: background-color $function-time;

  &:hover {
    background-color: #ecebeb;
  }
}

.button-arrow {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $accent-light-color;
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button-arrow--small {
  width: 18px;
  height: 18px;
}
