.container {
    
    max-width: 480px;
  
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 700px;
      max-width: none;
    }
    @media screen and (min-width: 1200px) {
      width: 1050px;
    } 
  }
 
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (min-width: 1200px) {
      padding-top: 125px;
      padding-bottom: 125px;
    }
  }

  .section__text{
margin-bottom: 15px;

    font-family: Titan One;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    
    text-align: center;
    text-transform: uppercase;
    
    color: $accent-secondary-color;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
line-height: 1.13;
    }
  }
 .section__title{
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $accent-primary-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
line-height: 1.14;
  }
 }

.section__title--invisible {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
 
  
  