.container {
    
    max-width: 480px;
  
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 700px;
      max-width: none;
    }
    @media screen and (min-width: 1200px) {
      width: 1050px;
    }
    
  }
  
  
 
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (min-width: 1200px) {
      padding-top: 125px;
      padding-bottom: 125px;
    }
  }
 


 
  
  