.reviews {
    padding-bottom: 0px;
}
.reviews__img {
  margin: 0 auto 30px auto;
 
  @media screen and (min-width: 768px) {
    margin: 0 auto 19px auto;
  }
}

.reviews__comment {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 280px;
    height: 308px;
    margin: 0 auto 0 auto;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 28px;
        left: 61px;
        width: 54px;
        height: 40px;
        background-image: url(/images/customer-reviews/quotes.svg);

        @media screen and (min-width: 768px) {
            top: 30px;
            left: 40px;  
        }
    }

    @media screen and (min-width: 768px) {
        width: 620px;
        height: 164px; 
    }
}

.reviews__paragraph {
    position: absolute;
    top: 43px;
    left: 57px;
    z-index: 2;
    width: 157px;
    line-height: 2.55;
    text-align: center;
    color: $secondary-text-color; 
    
    @media screen and (min-width: 768px) {
        width: 460px;
        top: 47px;
        left: 80px;

        font-size: 14px;
        line-height: 2,14;
        letter-spacing: 0.04em;
    }
}

.reviews__grid {
    position: absolute;
    top: 71px;
    left: 50px;
    width: 180px;
    height: 217px;
    background-image: repeating-linear-gradient(180deg, $bg-gray-color 0px, $bg-gray-color 1px, transparent 1px, transparent 30px);

    @media screen and (min-width: 768px) {
        top: 76px;
        left: 60px;
        width: 524px;
        height: 70px;
        background-image: repeating-linear-gradient(180deg, $bg-gray-color 0px, $bg-gray-color 1px, transparent 1px, transparent 35px);   
    }
}

.reviews__title {
    text-align: center;
    font-size: 14px;
    line-height: 1.9;
    text-align: center;
    color: $secondary-text-color;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    &::before {
        display: block;
      
        content: "";
        height: 4px;
        width: 32px;
        margin: 30px auto 18px auto;
        background-image: url(/images/customer-reviews/group8.svg);

        @media screen and (min-width: 768px) {
            margin: 24px auto 14px auto;
        }
    }
}

.reviews__navigation {
    display: flex;
    justify-content: space-between;
    width: 72px;
    margin: 30px auto 0px auto;

    @media screen and (min-width: 768px) {
        margin: 35px auto 0px auto;
    }
}

.reviews__icon {
    height: 12px;
    width: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.reviews__home {
    fill: #D31342;
}