.footer {
  background-color: #fff5f6;
}
.footer__container--flex {
  margin-bottom: 45px;
}
.foooter__text {
  text-transform: uppercase;
  font-family: Titan One;
  margin-bottom: 40px;
}
.foooter__text--pink {
  margin-bottom: 15px;

  color: $accent-secondary-color;
  font-size: 18px;
  line-height: 21px;
}
.foooter__text--red {
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  color: $accent-primary-color;
}
.footer__list {
  justify-content: end;
  display: flex;
}

.footer__item:not(:last-child) {
  margin-right: 30px;
}
.footer__text--black {
  font-family: DM Sans;

  font-weight: bold;
  font-size: 12px;
  color: $secondary-text-color;
}
.footer__text--number {
  font-family: DM Sans;

  font-weight: bold;
  font-size: 12px;
  color: $accent-primary-color;
}
.footer__item--end {
  text-align: end;
}

.footer-copyright {
  text-align: center;
  margin-top: 65px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
}

.footer {
  position: relative;
}
.footer-box::after {
  content: '';
  position: absolute;
  bottom: 28%;
  left: 0;
  width: 100%;

  border: 1px solid #e1e1e1;
}

.footer__icons--github,
.footer__icons--telegram,
.footer__icons--facebook {
  fill: $accent-light-color;
}
.footer__link {
  border-radius: 50%;
  background-color: #fea5bb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  transition: background-color $function-time;
}
.footer__link:hover,
.footer__link:focus {
  background-color: $accent-primary-color;
}
