.footer {
  background-color: #fff5f6;
}
.footer__container--flex {
  margin-bottom: 45px;

  @media screen and(min-width:1280px) {
    margin-bottom: 50px;
  }
}
.foooter__text {
  text-transform: uppercase;
  font-family: Titan One;
  margin-bottom: 40px;
}
.foooter__text--pink {
  margin-bottom: 15px;

  color: $accent-secondary-color;
  font-size: 18px;
  line-height: 21px;

  @media screen and(min-width:768px) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
  @media screen and(min-width:1280px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}
.foooter__text--red {
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  color: $accent-primary-color;

  @media screen and(min-width:768px) {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
  }
  @media screen and(min-width:1280px) {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}
.footer__list {
  justify-content: end;
  display: flex;
}

.footer__item:not(:last-child) {
  margin-right: 30px;
  @media screen and(min-width:1280px) {
    margin-right: 25px;
  }
}
.footer__text--black {
  font-family: DM Sans;

  font-weight: bold;
  font-size: 12px;
  color: $secondary-text-color;
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}
.footer__text--number {
  font-family: DM Sans;

  font-weight: bold;
  font-size: 12px;
  color: $accent-primary-color;
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}
.footer__item--end {
  text-align: end;
}

.footer {
  position: relative;
}
.footer-box::after {
  content: '';
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;

  border-bottom: 1px solid #e1e1e1;

  @media screen and(min-width:768px) {
    bottom: 20%;
  }
  @media screen and(min-width:1280px) {
    bottom: 18%;
  }
}

.footer__icons--github,
.footer__icons--telegram,
.footer__icons--facebook {
  fill: $accent-light-color;
}
.footer__link {
  border-radius: 50%;
  background-color: #fea5bb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  transition: background-color $function-time;
}
.footer__link:hover,
.footer__link:focus {
  background-color: $accent-primary-color;
}
.container__flex--tablet {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.section--padding {
  padding-bottom: 25px;
  @media screen and(min-width:768px) {
    padding-bottom: 18px;
  }
}

.copyright {
  text-align: center;
  margin-top: 65px;

  @media screen and(min-width:768px) {
    margin-top: 120px;
    display: flex;
    justify-content: center;
  }
  @media screen and(min-width:1280px) {
    padding-bottom: 10px;
  }
}
.copyright__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
}
.copyright__text:first-child {
  @media screen and(min-width:768px) {
    margin-right: 5px;
  }
}
.hidden {
  @media screen and(min-width:1280px) {
    display: none;
  }
}
.hidden-desktop {
  @media screen and(max-width:1279px) {
    display: none;
  }
}
