
.modal-contact {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  max-width: 360px;
  max-height: 500px;
  background-image: linear-gradient(to bottom, #ffffff 12.5%, #fff5f6 12.5%);
  border-radius: 24px;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  opacity: 1;
  transition: opacity $function-time;

  .backdrop.is-hidden & {
    opacity: 0;
  }

  //   Tablet
  @media screen and (min-width: 768px) {
    min-width: 480px;
  }
  //   Desktop
  @media screen and (min-width: 1280px) {
    max-width: 480px;
  }
}
.modal-contacts__button-close,
.modal-franchise__button-close {
  position: absolute;
  right: 3%;
  top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  color: $accent-primary-color;
  transition: background-color $function-time, border $function-time, color $function-time;

  &:hover,
  &:focus {
    background-color: $accent-primary-color;
    border: $accent-primary-color;
  }
}
.item__loc {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}


.modal-contacts__icon-close.modal-contacts__icon-close {

  display: block;
  width: 15px;
  height: 15px;
  stroke: currentColor;
}


.modal__title {

  text-align: center;
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $accent-primary-color;
  margin-bottom: 20px;

  //   Tablet
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 45px;
  }
}


.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.text-box__title {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.text-box__description {
  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}
