.backdrop.is-hidden .modal-franchise {
  opacity: 0;
}

.modal-franchise__button-close:hover,
.modal-franchise__button-close:focus {
  background-color: $accent-primary-color;
  border: $accent-primary-color;
  color: $accent-light-color;
}

.modal-franchise__text {
  margin-bottom: 5px;
  &:nth-of-type(3n + 3) {
    margin-bottom: 30px;
  }
}
.modal-franchise__text--dark {
  color: $secondary-text-color;
}

.order-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding-top: 20px;
  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    top: -2%;
    border-top: 1px solid #eee;
  }

  @media screen and (min-width: 767px) {
    flex-direction: row;
  }
}
.modal-franchise__link {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.modal-franchise__button {
  padding-left: 25px;
  padding-right: 25px;
}
