.modal-contacts,
.modal-franchise {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  min-width: 220px;
  height: 90vh;
  background-color: $accent-light-color;
  border-radius: 24px;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity $function-time;

  .backdrop.is-hidden & {
    opacity: 0;
  }

  //   Tablet
  @media screen and (min-width: 768px) {
    min-width: 700px;
  }
  //   Desktop
  @media screen and (min-width: 1280px) {
    min-width: 1100px;
  }
}
.modal-contacts__button-close,
.modal-franchise__button-close {
  position: absolute;
  right: 3%;
  top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  color: $accent-primary-color;
  transition: background-color $function-time, border $function-time, color $function-time;

  &:hover,
  &:focus {
    background-color: $accent-primary-color;
    border: $accent-primary-color;
    color: $accent-light-color;
  }
}

.modal-contacts__icon-close,
.modal-franchise__icon-close {
  display: block;
  width: 15px;
  height: 15px;
  stroke: currentColor;
}

.modal-contacts__title,
.modal-franchise__title {
  text-align: center;
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $accent-primary-color;
  margin-bottom: 20px;

  //   Tablet
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 45px;
  }
}

.location-box {
  //   Desktop
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.map {
  height: 230px;
  min-width: 150px;
  margin-bottom: 25px;
  border-radius: 24px;
  border-color: transparent;

  //   Tablet
  @media screen and (min-width: 768px) {
    height: 260px;
    min-width: 100%;
    margin-bottom: 20px;
  }

  //   Desktop
  @media screen and (min-width: 1280px) {
    height: 450px;
    min-width: 560px;
    margin-bottom: 0;
    margin-left: 90px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.text-box__title {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.text-box__description {
  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}
