.backdrop {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity $function-time;
  
    overflow-y: scroll;
  }
  .buy-now {
    position: absolute;
    left: 50%;
    top: 0;
    
    padding: 15px 30px;
  
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
  
    background: #fff5f6;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.0),
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.0)
    ), url(../images/modal/ice-cream500w.png);
    background-position: bottom;
    
    background-size: 87%;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    .backdrop.is-hidden & {
      transform: translate(-50%, -400%);
    }
    
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:  linear-gradient(
      to right,
      rgba(47, 48, 58, 0.0),
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.0)
    ),url('../images/modal/ice-cream1000w.png');
}

    @media screen and (max-height: 500px) 
    {
        margin-top: 170px;
    }
    transform: translate(-50%, 2%);
    transition: transform $function-time;
    width: 100vw;
    max-width: 450px;
    @media screen and (min-width: 768px)
    {
      padding: 40px 40px;
    }
    @media screen and (min-width: 1280px) {
  
        width: 500px;
        max-width: none;
        background-size: 80%;
    }
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .buy-now__close {
    position: absolute;
    top: 8px;
    right: 8px;
  
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    display: flex;
    align-items: center;
  
    background: $accent-light-color;
    cursor: pointer;
  }
  .buy-now__icon {
fill:$primary-text-color ;
    transition: fill $function-time;
  
    .buy-now__close:hover &,
    .buy-now__close:focus & {
      fill: $accent-primary-color;
    }
  }
  
  .buy-now__title {
    text-align: center;
    font-family: Titan One;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.15em;
    letter-spacing: .06em;
    text-transform: uppercase;
    
    margin-bottom: 20px;
    color: $accent-primary-color;

    @media screen and (min-width: 768px)
    {
        font-size: 22px;
        margin-bottom: 25px;
    }
  }
  .buy-now__form {
    display: flex;
    flex-direction: column;
  }
  .buy-now__text {
    position: relative;
  }
  .buy-now__label{
    position: absolute;
    left: 5px;
    top: -15px;

padding: 0 4px;
margin-bottom: -2px;

border-top-left-radius: 6px ;
    border-top-right-radius:  6px;
   background-color:$accent-light-color ;

    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    @media screen and (min-width: 768px)
    {
        font-size: 16px;
        top: -17px;
    }
  }
  
  .buy-now__blok {
    position: relative;
    margin-bottom: 25px;
    @media screen and (min-width: 768px)
    {
      margin-bottom: 35px;
    }
  }
 
  .buy-now__edit {
    
    width: 100%;
    height: 40px;
  
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    cursor: pointer;
    transition: border-color $function-time, outline-color $function-time;
  
    &:hover,
    &:focus-visible {
      border-color: $accent-primary-color;
      outline-color: $accent-primary-color;
    }
  }
  .buy-now__icons {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  
    fill: $primary-text-color;
    transition: fill $function-time;
  
    .buy-now__edit:hover + &,
    .buy-now__edit:focus-visible + & {
      fill: $accent-primary-color;
    }
  }
  .product{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 4px 0;
    margin-bottom: 25px;
    border: 2px solid $accent-light-color;
    border-radius: 6px;
    @media screen and (min-width: 768px)
    {
      margin-bottom: 35px;
    }

  }
  .product__point{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
    height: 100px;
    background-size: contain;
    border: 1px solid $accent-primary-color;
    border-radius: 3px;


    &:nth-child(2){
      background-color: $bg-pink-color;
      background-image: url(../images/modal/product-1.png); 
    }

    &:nth-child(3){
      background-color: $bg-brown-color;
  background-image: url(../images/modal/product-2.png);
    }

    &:nth-child(4){
      background-color: $bg-green-color;
      background-image: url(../images/modal/product-3.png);
    }
  }

.product__text{
  padding: 0 4px;

      border-radius:  6px;
     background-color:inherit ;
}
.product__check{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
fill: none;
.check:checked + & {
  border: none;
 fill:$accent-primary-color;
 transition: fill $function-time, border $function-time;
}
 .product__point:hover &,
 .product__point:focus &{
  border:8px solid $accent-primary-color ;
 }
}
  .buy-now__comment {
    width: 100%;
    height: 120px;
  
    padding: 12px 16px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    resize: none;
    cursor: pointer;
    transition: border-color $function-time, outline-color $function-time;
  
    &:hover,
    &:focus-visible {
      border-color: $accent-primary-color;
      outline-color: $accent-primary-color;
    }
  
    &::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  
  .buy-now__control {
    text-align: center;
  }
  .buy-now__check {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
  
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.025em;
    fill: $accent-light-color;
    cursor: pointer;
    padding: 2px 4px;

      border-radius:  6px;
      @media screen and (min-width: 768px)
      {
        margin-bottom: 15px;
      }
     background-color:$accent-light-color ;
    @media screen and (min-width: 1280px) 
    {
        font-size: 14px;
    }
  }
.buy-now__text-check{
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
}

  .check {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  .buy-now__link {
    text-decoration: underline;
    color: $accent-primary-color;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.025em;
    @media screen and (min-width: 1200px) 
    {
        font-size: 14px;
    }
  }
  
  .buy-now__checked {
    margin-right: 8px;
  
    border: 2px solid $primary-text-color;
    border-radius: 2px;
  
    font: inherit;
  
    .check:focus + &,
    .check:hover + & {
      border-color: $accent-primary-color;
    }
  
    .check:checked + & {
      border: none;
      background-color: $accent-primary-color;
    }
  }
  
 
 .buy-now__submit{
  border-radius: 22px;
  border: none;
  text-align: center;
  padding: 6px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3em;
  background-color: $accent-primary-color;
  color: $accent-light-color;
  transition: background-color $function-time;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: #d35f7c;
  }
 }

//---------------------------------------------------------------------------------------------------------------------