.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;

    opacity: 1;
    transition: opacity var(--transition-type);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.about-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    background-color: $bg-lightpink-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform $function-time; 
    width: 94vw;
    height: 94vh;
    resize: vertical;

    display: flex;
    justify-content: center;

    // @media (max-width: 767px) {
    //     min-height: 609px;
    // }

    // @media (min-width: 768px) and (max-width: 1199px) {
    //     width: 450px;
    //     min-height: 609px;
    // }

    @media (min-width: 1280px) {
        max-width: 1200px;
        max-height: 700px;
    }

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

.about-modal__close-button {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 6px;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background: $bg-lightpink-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.about-modal__close-icon {
    transition: fill var(--transition-type);

    &:hover, 
    &:focus {
        fill: var(--brand-color);
    }
}