.products-container {
    text-align: center;
} 

.products-container__list {
    padding-top: 180px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 24px;
    
    &:nth-last-child(n) {
    background-color: $bg-pink-color;
}
    &:nth-last-child(0n+2) {
    background-color: $bg-brown-color;
}
    &:nth-last-child(0n+1) {
    background-color: $bg-green-color;
   }
}

.products-container__list {
    position: relative;

    &::before {
    position: absolute;    
    content: url(/images/product/product-mob.png); 
    bottom: 71%;
    display: block;
    left: 0;
    right: 0;
   }
}

.products-container__list:nth-last-child(0n+3) 
+ .products-container__list::before {   
    content: url(/images/product/product-mob-1.png); 
}

.products-container__list:nth-last-child(0n+2) 
+ .products-container__list::before {  
    content: url(/images/product/product-mob-2.png); 
}

.products-container__list-item-title { 
    position: relative;

    &::after {  
    content: url(/images/product/group-4.png); 
    display: block;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
   }
}

.products-container__title {
    margin-bottom: 141px;
}
.products-container__list-item-title {
    color: $accent-light-color;
    font-family: Titan One;
    @include font (20px, 400, 1.15, 0.04em);

    margin-bottom: 66px; 
} 

.products-container__list-item-text {
    color: $accent-light-color;
    font-family: DM Sans;
    @include font (14px, 700, 1.52, 0.04em);
}

.products-container__button {
    background-color: $accent-light-color;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-top: 30px;
}

.products-container__icon {
    fill: $accent-primary-color;
}

@media screen and (max-width: 767px) { 
    .products-container {
       width: 280px;
    }
     .products-container__list:not(:last-child) {
      margin-bottom: 160px;
    }
}

@media screen and (min-width: 768px) {  
    .products-container__card {
        display: flex;    
    }
    .products-container__list {
        flex-basis: calc(100% / 3);
        margin-bottom: 0;
        padding-left: 11px;
        padding-right: 11px;      
    }
    .products-container__list:not(:last-child) {
        margin-right: 20px;   
    }
    .products-container__list-item-text {
        line-height: 1.76;
    }
    .products-container__list::before {
        content: url(/images/product/product-tablet.png); 
        bottom: 75%;
    }
    .products-container__list:nth-last-child(0n+3) 
   + .products-container__list::before {   
    content: url(/images/product/product-tablet-1.png); 
}
   .products-container__list:nth-last-child(0n+2) 
   + .products-container__list::before {  
    content: url(/images/product/product-tablet-2.png); 
    }
}

@media screen and (min-width: 1280px) {
    .products-container__list::before {
        content: url(/images/product/product-desktop.png); 
        bottom: 75%;
      }
      .products-container__list:nth-last-child(0n+3) 
     + .products-container__list::before {   
          content: url(/images/product/product-desktop-1.png); 
}
      .products-container__list:nth-last-child(0n+2) 
     + .products-container__list::before {  
          content: url(/images/product/product-desktop-2.png); 
    }
      .products-container__list-item-title {
          font-size: 30px;
          line-height: 1.13;
    }
      .products-container__list-item-text {
           font-size: 16px;
           line-height: 1.79;
    }
    .products-container__list {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
    .products-container__title {
        margin-bottom: 260px;
    }
}
